.tasks {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 645px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(214, 214, 214);
  display: flex;
  background: rgb(255, 255, 255);
}
.listClass {
  background: rgb(242, 248, 242);
  height: 150vh;
}
.list {
  position: relative;
  margin-top: 20px;
}
.span2 {
  cursor: pointer;
  margin-bottom: auto;
  margin-top: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.checkbox {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}
.editclass {
  background: rgba(89, 89, 90, 0);
  height: 45px;
  font-size: 18px;
  border: none;
}
.editclass:focus {
  outline: none !important;
  border-color: rgb(214, 214, 214) !important;
  box-shadow: none;
}
.star {
  padding-top: 10px;
  font-size: 25px;
}
.iconChange {
  font-size: 25px;
}
